* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

.main-header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0px 10px 8px rgba(1, 2, 2, 0.08);
    padding: 10px 7% 5px;
    
}

.logo {
    max-width: 100%;
    width: 120px;
    height: auto;
}

.navbar {
    display: flex;
}

.navbar .lists {
    position: relative;
}

.navbar .links {
    color: #161616;
    font-weight: 500;
    font-size: 1rem;
    padding: 10px 20px;
}

.navbar .links::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #ef0454;
    left: 0;
    bottom: -4px;
    transition: ease 0.42s;
}

.navbar .links:hover::after {
    width: 100%;
}

#menu-icon {
    font: 30px;
    color: #161616;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.btn {
    font-size: 14px;
    display: inline-flex;
    justify-content: center;
    font-weight: 600;
    /* height: 50px; */
    line-height: 60px;
    background: #ef0454;
    color: #fff;
    border-radius: 10px;
    padding: 0 20px;
    text-transform: uppercase;
    transition: all 0.34s;
}

.btn:hover {
    opacity: 0.8;
    transform: translateY(-10px);
}

.sect {
    padding: 0 16%;
}

.container {
    height: 100vh;
    width: 100%;
    background: url(./images/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.text {
    padding-top: 70px;
    margin: 0 6rem;
}

.text .slide {
    margin-bottom: 20px;
}

.text .one {
    height: 40px;
    padding: 0px 15px;
    line-height: 40px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 5px;
    background: #ffbb01;
    color: #fff;
    display: inline-block;
    margin-right: 22px;
}

.text .two {
    font-size: 24px;
    color: #161616;
    display: inline-block;
    font-weight: 500;
}

.text .title {
    font-size: 85px;
    font-weight: 700;
    color: #161616;
    line-height: 0.9;
    margin: 0 0 8px;
}

.text .sub-title {
    color: #161616;
    margin: 0 0 8px;
    font-size: 55px;
    font-weight: 700;
    line-height: 1;
}

.dev {
    color: #ef0454;
}

.text .para {
    color: #6a6a6a;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 40px;
}

.buttn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-two {
    font-size: 14px;
    font-weight: 600;
    color: #161616;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}

.btn-two .play i {
    height: 50px;
    width: 50px;
    background: #fff;
    color: #ef0454;
    font-size: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 10px 8px rgb(3 12 29 / 8%);
    margin-right: 15px;
    transition: ease 0.30s;
}

.btn-two .play i:hover {
    background: #ef0454;
    color: #fff;
    transform: translateY(-20%);
}


/* section one */



/* .sect-one {
    width: 100%;
    height: 100vh;
    margin: 1rem 0;
    background: #c5b8bc;
    box-shadow: 20px 10px 8px rgb(3 12 29 / 8%);

} */

.parent {
    position: relative;
    /* width: 96%; */
    /* height: 70vh; */
    background: rgb(255, 255, 255);
    margin: -2rem 2rem 2rem;
    padding: 0 0 4rem;
    border-radius: 5px;
    box-shadow: 0px 0 10px 1px #ebe9e9;
}

.descr {
    text-align: center;
    color: #999999;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.4rem;
    padding: 75px 20rem;
}

.group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4rem;
    padding: 0 4rem;
}

.icons {
    width: 6rem;
    cursor: pointer;
}

.icons:hover {
    transform: translateX(-10%);
    transition: all 0.5s ease-in-out;
}

.first, .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sect-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: #3c4858;
    margin: 1rem 0;
}

.sect-title:hover {
    cursor: pointer;
    color: #b3b3b3;
    transition: 0.2s ease;
}

.sect-parag {
    font-size: 0.8rem;
    line-height: 1.2rem;
    text-align: center;
    color: #999999;
    padding-left: 1.5rem;
}



/* section two  */

.sect-two {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4)50%, rgba(0, 0, 0, 0.4)50%), url(./images/bak.jpg);
    /* background-image: url(./images/bak.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 8rem 5rem;
    margin: -2rem 2rem 2rem;
}

.parent-two {
    flex-basis: 42%;
}

.title-two {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1.7rem;
}

.compati {
    color: rgb(236, 162, 0);
}

.parag-two {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.4rem;
    text-align: center;
    color: #fff;
}

.video {
    padding-left: 2rem;
}


/* section three */

.title-three {
    font-size: 2.3rem;
    font-weight: 700;
    margin: 4rem 5rem 3rem;
}

.box {
    width: 21.7rem;
    border: 0.2rem solid rgb(90, 86, 86);
    margin-right: 2rem;
}

.box:hover {
    cursor: pointer;
    transform: translateY(-10%);
    transition: all 0.4s ease-in-out;
}
.parent-three {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin: 2rem 0 0 5rem;
    padding-left: ;
}

.flex-one {
    display: inline-block;
    margin: 0 0 2rem;
}


/* section four  */

/* .sect-four {
    margin: 4rem 0;
} */

.parent-four {
    margin: 4rem;
}
.icon {
    width: 10rem;
    border-radius: 50%;
    margin: 0 8rem;
}

.our-client {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin: 0 0 2rem;
}

.testi-descr {
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
    color: #6a6a6a;
    margin: 0 20rem 3rem;
}

/* .our-client, .testi-descr {
    margin: 0 20rem 2rem;
} */

.testimonies {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-name {
    text-transform: uppercase;
    text-align: center;
    margin: -0.7rem 0 1rem;
}


/* .social {
    position: absolute;
    top: 50%;
    margin-right: 9rem;
    padding: 0;
    transform: translateY(-50%);
}

.social ul li {
    margin: 20px 0;
}

.social ul li i {
    font-size: 22px;
    color: #161616;
    transition: all 0.30s;
}

.social ul li i:hover {
    transform: translateY(-5px);
    color: #ef0454;
} */

@media (max-width: 1380px) {
    .main-header {
        padding: 18 2%;
        transition: 0.2s;
    }

    .sect {
        padding: 0.2%;
        transition: 0.2s;
    }

    .social {
        display: none;
    }
}


@media (max-width: 1120px) {

    .text {
        margin: -6rem  1rem 0;
        }
    
    .main-header {
        padding: 14px 2%;
    }

    #menu-icon {
        display: initial;
    }

    .text .title {
        font-size: 68px;
        transition: 0.2s;
    }

    .text .sub-title {
        font-size: 48px;
        transition: 0.2s;
    }

    .text .sub-title {
        font-size: 35px;
        transition: 0.2s;
    }

    .btn {
        height: 50px;
        line-height: 50px;
        padding: 0 28px;
    }

    .btn-two {
        margin-left: 20px;
    }

    .btn-two .play i {
        height: 50px;
        width: 50px;
        font-size: 30px;
    }

    .navbar {
        position: absolute;
        top: -700px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: #ef0454;
        text-align: left;
        transition: all 0.35s ease;
    }

    .navbar .links {
        display: block;
        padding: 1rem;
        margin: 1.3rem;
        color: #fff;
        border-left: 2px solid #fff;  
    }

    .navbar .links:hover {
        background: #fff;
        color: #ef0454;
    }
    .navbar .links::after {
        display: none;
    }

    .navbar .active {
        top: 100%;
    }
}

@media (max-width: 640px) {

    .text {
        margin: 0 0.7rem;
        }

        .text .sub-title {
            font-size: 1.8rem;
            transition: 0.2s;
        }

        .btn {
            height: auto;
            padding: 0 15px;
        }
    
    .sect {
        padding: 0 3%;
    }

    .main-header {
        padding: 14px 3%;
    }
}